<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>335624343881-jv25vg66i4smjfuchm1hk1pjs64dqovq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335624343881-jv25vg66i4smjfuchm1hk1pjs64dqovq</string>
	<key>API_KEY</key>
	<string>AIzaSyAtkUf9KbPuVvRpvEvRrqs-sbqnhgrfjpk</string>
	<key>GCM_SENDER_ID</key>
	<string>335624343881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Adriano.Cardace.Spacca15</string>
	<key>PROJECT_ID</key>
	<string>lam-project-efcd4</string>
	<key>STORAGE_BUCKET</key>
	<string>lam-project-efcd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:335624343881:ios:38f353c44ec9a53a</string>
	<key>DATABASE_URL</key>
	<string>https://lam-project-efcd4.firebaseio.com</string>
</dict>
</plist>